* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
    scroll-behavior: smooth;
  }
  
  /* Hero Section */
  .hero {
    background: #ffffff;
    padding: 200px 0;
  }
  
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
  }
  
  .hero__heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: #000000;
  }
  
  .hero__description {
    font-size: 60px;
    background: #ffffff;
    background-size: 100%;
  }
  
  .highlight {
    border-bottom: 4px solid rgb(44, 36, 36);
  }
  
  @media screen and (max-width: 768px) {
    .hero__heading {
      font-size: 60px;
    }
  
    .hero__description {
      font-size: 40px;
    }
  }
  
  /* About Section */
  .main {
    background-color: #ffffff;
    padding: 10rem 0;
    align-items: center;
  }
  
  .main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
  }
  
  .main__content {
    color: #000000;
    width: 100%;
  }
  
  .main__content h1 {
    font-size: 2rem;
    background-color: #000000;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  
  .main__content h2 {
    font-size: 4rem;
    background: #FFFBFF; 
    background: #000000;
    background: #000000;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  
  .main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
  }

  .menu {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
    margin-bottom: 10rem;
    font-size: 2.5rem;
}
  
.container {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto 2em auto;
    padding: 1em 0.5em;
    display: flex;
    justify-content: center;

}

.indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #000000;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery{
    display: flex;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
}

.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 20px;
    height: 400px;
    margin: 0 5px;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery-item img {
    width: 400px;
    height: 100%;
    object-fit: contain;
    transform: scale(2)

}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

